hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo {
    font-weight: 400;
    font-size: 16px;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape__titulo {
        font-weight: 400;
        font-size: 14px;
        color: var(--cinza-principal);
        text-transform: uppercase;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: var(--cinza-secundario);
        font-weight: 400;
        font-size: 14px;
        margin-left: 0.6em;
    }

    .rodape__titulo {
        font-weight: 400;
        font-size: 26px;
    }
}